<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "/css/styles.css" %}" />
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="navbar"><a href="/">Главная</a><a href="/">не главная</a><a href="/">ещё какая-то</a><a href="/">не о ком</a></div>
    </header>
    <div class="container">
        <h1>{% block header %}{% endblock header %}</h1>
        <div >{% block content%}{% endblock content %}</div>
    </div>
    <footer>
        <div>проктическая работа 2026</div>
    </footer>
</body>
</html>