{% extends "BasePage.html" %}
{% block title %}Главная{% endblock title %}
{% block header %}Главная страница{% endblock header %}

{% block content %}
<div class="floor">
    <div class="introduce">
        <h3>Добро пожаловать {{person}} на наш сайт</h3>
        <form method="post" action="">
            {% csrf_token %}
            <p>Ваше имя: </p>
            <input class="input" name="name" />
            <input class="button" type="submit" value="Отправить" />
        </form>
    </div>
    <div class="contentbox ffContext">{{person}} наверно тут будет контент</div>
</div>
<div class="floor contentbox">

</div>
<div class="floor contentbox">

</div>
    {% endblock content %}
